<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ControlPrivacy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>index.html</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index.html</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>cleanMeta.html</servlet-name>
    <jsp-file>/cleanMeta.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cleanMeta.html</servlet-name>
    <url-pattern>/cleanMeta.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewImage.html</servlet-name>
    <jsp-file>/viewImage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewImage.html</servlet-name>
    <url-pattern>/viewImage.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>image.html</servlet-name>
    <jsp-file>/image.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>image.html</servlet-name>
    <url-pattern>/image.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>watermarkPicture.html</servlet-name>
    <jsp-file>/watermarkPicture.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>watermarkPicture.html</servlet-name>
    <url-pattern>/watermarkPicture.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login.html</servlet-name>
    <jsp-file>/register/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.html</servlet-name>
    <url-pattern>/login.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register.html</servlet-name>
    <jsp-file>/register/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register.html</servlet-name>
    <url-pattern>/register.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgot-password.html</servlet-name>
    <jsp-file>/register/forgot-password.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgot-password.html</servlet-name>
    <url-pattern>/forgot-password.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user.html</servlet-name>
    <jsp-file>/register/user.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>user.html</servlet-name>
    <url-pattern>/user.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Validation</servlet-name>
    <servlet-class>user.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>CleanMeta</servlet-name>
    <servlet-class>metadata.CleanMeta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CleanMeta</servlet-name>
    <url-pattern>/CleanMeta</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewImage</servlet-name>
    <servlet-class>viewimage.ViewImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewImage</servlet-name>
    <url-pattern>/ViewImage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateSimpleWatermark</servlet-name>
    <servlet-class>watermark.CreateSimpleWatermark</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSimpleWatermark</servlet-name>
    <url-pattern>/CreateSimpleWatermark</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>mail</param-name>
    <param-value>a@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>passwordMail</param-name>
    <param-value>a</param-value>
  </context-param>
  <context-param>
    <param-name>dirWatermark</param-name>
    <param-value>dir/watermark</param-value>
  </context-param>
  <context-param>
    <param-name>dirViewImage</param-name>
    <param-value>dir/viewImage</param-value>
  </context-param>
  <context-param>
    <param-name>dirFileAnalyse</param-name>
    <param-value>dir/fileAnalyse</param-value>
  </context-param>
</web-app>